<p>
    Bonjour {{ user.firstName }} {{ user.lastName }} !
</p>
<p>
    Une nouvelle actualité concernant {{ news.name }} est disponible sur WebLearning
</p>
<p>
    {{ news.content }}
</p>
<p>
    Vous pouvez vous désabonner de la newsletter dans -> Mon compte -> Modifier mon compte
</p>