{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}Votre cours{% endblock %}

{% block body %}
    {% set totalRating = 0 %}
    {% set numberOfEnabledComments = 0 %}
    {% if course.comments.count > 0 %}
        {% for comment in course.comments %}
            {% if comment.isDisabled == false %}
                {% set totalRating = totalRating + comment.rating %}
                {% set  numberOfEnabledComments = numberOfEnabledComments + 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <main class="container">
        <section id="detail" class="height">
            <h2 class="my-5">{{ course.name }}</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#profil">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#details">Détail</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#comments">Commentaires <span class="badge badge-primary">{{ numberOfEnabledComments }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#form-comment">Postez un commentaire</a>
                </li>
            </ul>
            {# Profil #}
            <div id="myTabContent" class="tab-content my-4">
                <div class="tab-pane fade show active" id="profil">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="course-detail-image" src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}">
                        </div>
                        <div class="col-md-7">
                            <h4>Description</h4>
                            <p>{{ course.smallDescription }}</p>
                            <h4>Informations</h4>
                            <p class="description">
                                prix: {{ course.price }}€<br>
                                Durée: {{ course.duration }} an{%  if course.duration > 1 %}s{% endif %}<br>
                                Catégorie: {{ course.category.name }}<br>
                                Horaire: {{ course.schedule }}<br>
                                Niveau: <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="{{ course.level.prerequisite }}">
                                    {{course.level.name}}
                                </button>
                            </p>
                            <h4>Inscription</h4>
                            {% if app.user %}
                                {% set count = 0 %}
                                {% for inscription in course.inscription %}
                                    {% if inscription.user == app.user %}
                                        <p>
                                            Vous êtes inscrit(e) à ce cours
                                        </p>
                                        <a href="{{ path('delInscriptionCourse', {'slug': course.slug}) }}" class="btn btn-primary">Se désinscrire</a>
                                        {% set count = 1 %}
                                    {% endif %}
                                {% endfor %}
                                {% if count == 0 %}
                                    <p>
                                        Vous n'êtes pas inscrit(e) à ce cours
                                    </p>
                                    <a href="{{ path('addInscriptionCourse', {'slug': course.slug}) }}" class="btn btn-primary">S'inscrire</a>
                                {% endif %}
                            {% else %}
                                <p>
                                    Vous devez être connecté(e) pour vous inscrire à ce cours
                                </p>
                                <a href="{{ path('app_login') }}" class="btn btn-primary">S'identifier</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {# Detail #}
                <div class="tab-pane fade" id="details">
                    <h4>Description complète</h4>
                    <p class="img-float">{{ course.fullDescription | raw }}</p>
                    <p><a href="{{ asset('img/pdf/') ~ course.program }}" class="btn btn-primary">Télécharger le programme</a></p>
                </div>
                {# Comments #}
                <div class="tab-pane fade" id="comments">
                    {% if numberOfEnabledComments > 0 %}
                        <p class="text-muted">
                            Note globale: {% include 'partials/rating.html.twig' with {'rating': totalRating/numberOfEnabledComments} %}
                            <br>
                            Calculée sur {{ numberOfEnabledComments }} commentaire{% if numberOfEnabledComments > 1 %}s{% endif %}
                        </p>
                        {% for comment in course.comments %}
                            {% if comment.isDisabled == true %}
                                {% if comment.author == app.user %}
                                    <div class="media media-border comment-disabled">
                                        <img class="align-self-center mr-3 avatar-comment" src="{{ asset('img/avatar/') ~ comment.author.image }}" alt="{{comment.author.lastName}}">
                                        <div class="media-body">
                                            <h4>En attente de validation par un administrateur</h4>
                                            <h5 class="mt-0">{{ comment.author.firstName }} {{ comment.author.lastName }}</h5>
                                            <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('Y/m/d') }}</h6>
                                            {# Système de notation en étoiles #}
                                            <span>
                                        {# Inclusion du partial avec passage de paramètre #}
                                                {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                    </span>
                                            <p>{{ comment.content }}</p>
                                        </div>
                                        <div class="align-self-center">
                                            <a href="{{ path('delCommentCourse', {'slug': comment.course.slug}) }}"><button class="btn btn-primary">Supprimer votre commentaire</button></a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for comment in course.comments %}
                            {% if comment.isDisabled == false %}
                                <div class="media media-border">
                                    <img class="align-self-center mr-3 avatar-comment" src="{{ asset('img/avatar/') ~ comment.author.image }}" alt="{{comment.author.lastName}}">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ comment.author.firstName }} {{ comment.author.lastName }}</h5>
                                        <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('Y/m/d') }}</h6>
                                        {# Système de notation en étoiles #}
                                        <span>
                                        {# Inclusion du partial avec passage de paramètre #}
                                            {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                                    </span>
                                        <p>{{ comment.content }}</p>
                                        {% if comment.author == app.user %}
                                    </div>
                                    <div class="align-self-center">
                                        <a href="{{ path('delCommentCourse', {'slug': comment.course.slug}) }}"><button class="btn btn-primary">Supprimer votre commentaire</button></a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <h5>Il n'y a pas encore de commentaires pour ce cours</h5>
                    {% endif %}
                </div>
                {# Post a comment #}
                <div class="tab-pane fade" id="form-comment">
                    {% if app.user %}
                        <h4>Postez votre commentaire</h4>
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-primary">Valider votre commentaire</button>
                    {% else %}
                        <p>
                            Vous devez être connecté(e) pour poster un commentaire
                        </p>
                        <a href="{{ path('app_login') }}" class="btn btn-primary">S'identifier</a>
                    {% endif %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

