{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}About{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <section>
            <h2 class="my-5"><i class="icofont-under-construction-alt"></i> Pas encore de contenu pour cette page</h2>
        </section>
    </main>
{% endblock %}
