{% extends 'admin/base.html.twig' %}

{% block title %}Admin Users{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Utilisateurs</h2>
    <table class="table table-hover"> <!-- id pour le DataTable -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Création</th>
            <th>E-mail</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in pagination %}
            <tr>
                <td><img src="{{ asset('img/avatar/') ~ user.image }}" alt="{{ user.lastName }}" class="admin-img-users align-middle"></td>
                <td class="align-middle">{{ user.firstName }} {{ user.lastName }}</td>
                <td class="align-middle">{{ user.createdAt | date('d/m/Y') }}</td>
                <td class="align-middle">{{ user.email }}</td>
                <td class="align-middle">
                    {#{{ user.roles | json_encode }}</td>#}
                    {% for role in user.roles %}
                        {#{{ role }}#}
                        {% if role == 'ROLE_USER' %}
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_USER"}) }}" class="btn btn-success disabled" title="User">U</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_ADMIN"}) }}" class="btn btn-outline-secondary" title="Admin">A</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary" title="Super Admin">SA</a>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_USER"}) }}" class="btn btn-outline-secondary" title="User">U</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_ADMIN"}) }}" class="btn btn-success disabled" title="Admin">A</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_SUPER_ADMIN"}) }}" class="btn btn-outline-secondary" title="Super Admin">SA</a>
                        {% else %}
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_USER"}) }}" class="btn btn-outline-secondary" title="User">U</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_ADMIN"}) }}" class="btn btn-outline-secondary" title="Admin">A</a>
                            <a href="{{ path('admin_user_promote', {'id' : user.id, 'role' : "ROLE_SUPER_ADMIN"}) }}" class="btn btn-success disabled" title="Super Admin">SA</a>
                        {% endif %}
                    {% endfor %}
                <td class="align-middle">
                    {% if user.isDisabled %}
                        <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-warning" title="Activer"><i class="icofont-eye-blocked"></i></a>
                    {% else %}
                        <a href="{{ path('admin_user_disable', {'id': user.id}) }}" class="btn btn-success" title="Désactiver"><i class="icofont-eye"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center my-4">
        {{ knp_pagination_render(pagination) }}
    </div>

    </div>
    </div>
    </div>
{% endblock %}