{% extends 'admin/base.html.twig' %}

{% block body %}
    <section class="row">
        <div class="col-md-10 offset-1">
            <h2 class="my-4">Ajouter un utilisateur</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-outline-secondary">Ajouter l'utilisateur</button>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}