<h1>Bonjour, confirmez votre adresse e-mail</h1>

<p>
    S'il vous plaît, confirmez votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Merci!
</p>
