{% extends 'base.html.twig' %}

{% block title %}Enregistrement{% endblock %}

{% block body %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <main class="container">
        <section class="row">
            <div class="col-md-6 offset-3">
                <form method="post" class="my-4">
                    <h2 class="h2 mb-3 font-weight-normal">Remplissez le formulaire</h2>
                    {% for flashError in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    {{ form_start(registrationForm) }}
                    {{ form_widget(registrationForm) }}
                    <div class="g-recaptcha" data-theme="light" data-sitekey="6LfyBR8aAAAAAG02Z-MWdYSuYYigHc9QFGF30vdW"></div>
                    <br>
                    <button  class="btn btn-lg btn-primary" type="submit">M'enregistrer</button>
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </section>
    </main>

{% endblock %}
