<!-- Footer -->
<footer>
    <h4>Restez en contact</h4>
    <a href="" class="text-secondary"><i class="icofont-facebook"></i></a>
    <a href="" class="text-secondary"><i class="icofont-twitter"></i></a>
    <a href="" class="text-secondary"><i class="icofont-google-plus"></i></a>
    <a href="" class="text-secondary"><i class="icofont-github"></i></a>
    <a href="" class="text-secondary"><i class="icofont-instagram"></i></a>
    <a href="" class="text-secondary"><i class="icofont-linkedin"></i></a>
</footer>
<!-- End Footer -->