<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Easy - Learning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('courses') }}">All Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('about') }}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('teachers') }}">Our Teachers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact') }}">Contact Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if not app.user %}
                    <li>
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">S'identifier</a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="{{ path('app_register') }}" class="btn btn-outline-primary">S'enregistrer</a>
                    </li>
                {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset('img/avatar/') ~ app.user.image }}" alt="{{ app.user.firstName }}" class="avatar-mini">&nbsp;&nbsp;
                            {{ app.user.firstName }} {{ app.user.lastName }}
                            {% if app.user.warningMessages %}<i class="icofont-notification"></i> <span class="badge bg-primary text-light">{{ app.user.warningMessages }}</span>{% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('myAccount') }}">Mon compte</a>
                            <a class="dropdown-item" href="{{ path('account_update') }}">Modifier mon compte</a>
                            <a class="dropdown-item" href="{{ path('password_update') }}">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('myComments') }}">Mes commentaires
                                {% if app.user.warningMessages %}<i class="icofont-notification"></i> <span class="badge bg-primary text-light">{{ app.user.warningMessages }}</span>{% endif %}
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('myInscriptions') }}">Mes inscriptions</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('admin_course') }}">Administration</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
<!-- End Navigation -->

<!-- View flash messages -->
{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}