{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="">Web Learning - Administration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=""><i class="fas fa-chart-line"></i> Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            {#Account#}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="{{ path('home') }}" class="nav-link" target="_blank">Voir le site</a></li>
                <li class="nav-item"><a href="{{ path('app_logout') }}" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
<!-- End Navigation -->

<!-- View flash messages -->
{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}