<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Web-Learning - Dashboard{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/design/favicon.png') }}">
    {{ encore_entry_link_tags('admin') }}
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% include 'admin/partials/header.html.twig' %}
{% include 'admin/partials/menu.html.twig' %}
{% block body %}{% endblock %}
{% include 'admin/partials/footer.html.twig' %}
{{ encore_entry_script_tags('admin') }}
</body>
</html>

