{% extends 'admin/base.html.twig' %}

{% block title %}Admin News{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des News</h2>
    <table class="table table-hover" id="myTableNews"> <!-- id pour le DataTable -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Date de création</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td><img src="{{ asset('img/news/') ~ new.image }}" alt="{{ new.name }}" class="admin-img"></td>
                <td>{{ new.name }}</td>
                <td>{{ new.createdAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('admin_news_edit', {'id': new.id}) }}" class="btn btn-warning" title="Modifier"><i class="icofont-ui-edit"></i></a>
                    <a href="{{ path('admin_news_del', {'id': new.id}) }}" class="btn btn-primary" title="Supprimer"><i class="icofont-ui-delete"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}