{% extends 'admin/base.html.twig' %}

{% block title %}Admin Inscriptions{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Inscriptions</h2>
    <table class="table table-hover" id="myTableInscriptions"> <!-- id pour le DataTable -->
        <thead>
        <tr>
            <th>Image du cours</th>
            <th>Nom du cours</th>
            <th>Pré-requis</th>
            <th>Image de l'utilisateur</th>
            <th>Nom de l'utilisateur</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for inscription in inscriptions %}
            <tr>
                <td><img src="{{ asset('img/sections/') ~ inscription.course.image }}" alt="{{ inscription.course.name }}" class="admin-img"></td>
                <td>{{ inscription.course.name }}</td>
                <td>{{ inscription.course.level.name }}</td>
                <td><img src="{{ asset('img/avatar/') ~ inscription.user.image }}" alt="{{ inscription.user.firstName }} {{ inscription.user.lastName }}" class="admin-img-users"></td>
                <td>{{ inscription.user.firstName }} {{ inscription.user.lastName }}</td>
                <td>{{ inscription.course.price }}€</td>
                <td>
                    <a href="{{ path('admin_inscription_del', {'id': inscription.id}) }}" class="btn btn-primary" title="Supprimer"><i class="icofont-ui-delete"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}