{% extends 'admin/base.html.twig' %}

{% block title %}Admin Courses{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Cours</h2>
    <table class="table table-hover" id="myTableCourses"> <!-- id pour le DataTable -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Nom</th>
            <th>Categorie</th>
            <th>Level</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <td><img src="{{ asset('img/sections/') ~ course.image }}" alt="{{ course.name }}" class="admin-img"></td>
            <td>{{ course.name }}</td>
            <td>{{ course.category.name }}</td>
            <td>{{ course.level.name }}</td>
            <td>{{ course.duration }}</td>
            <td>
                <a href="{{ path('admin_course_edit', {'id': course.id}) }}" class="btn btn-warning" title="Modifier"><i class="icofont-ui-edit"></i></a>
                <a href="{{ path('admin_course_del', {'id': course.id}) }}" class="btn btn-primary" title="Supprimer"><i class="icofont-ui-delete"></i></a>
                {% if course.isPublished %}
                    <a href="{{ path('admin_course_view', {'id': course.id}) }}" class="btn btn-success" title="Masquer"><i class="icofont-eye"></i></a>
                {% else %}
                    <a href="{{ path('admin_course_view', {'id': course.id}) }}" class="btn btn-outline-success" title="Afficher"><i class="icofont-eye-blocked"></i></a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}