{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2 class="my-4">Ajouter une formation</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-secondary">Ajouter à la formation</button>
    {{ form_end(form) }}
{% endblock %}