/* CSS */

.navbar-brand {
    margin-right: 30px;
}

.banner {
    height: 350px;
    background: url("../img/banner/ban01.jpg") no-repeat;
    background-size: cover;
    filter: grayscale(100%);
}

/* card info */
.border-shadow {
    border: 1px solid #eee;
}

/* CAROUSEL */
.carousel-item {
    filter: grayscale(100%);
}

/* Filterizer */
.filtr-item img {
    width: 100%;
    height: 200px;
    filter: grayscale(100%);
}

.controls-filter {
    margin-bottom: 26px;
    color: red;
}

/* section height */
.height {
    min-height: 650px;
}

/* Courses */
#courses {
    min-height: 650px;
}

/* Comment */
.avatar-comment {
    width: 60px;
    border-radius : 50%;
}

.comment-disabled {
    background-color: rgba(217, 83, 79, 0.2);
    border-radius: 10px;
}

.comment-enabled {
    background-color: rgba(92, 184, 92, 0.2);
    border-radius: 10px;
}

.media-border:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdada;
}

/* detail */
.course-detail-image {
    max-width: 400px;
    height: auto;
}

.img-float + p img {
    float: left;
    padding: 20px;
    max-width: 200px;
    max-height: 200px;
}

/* Dropdown */
.avatar-mini {
    width: 40px;
    border-radius : 50%;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

footer {
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

footer h4 {
    padding-bottom: 1.2rem;
}

footer a {
    padding: 1rem;
    font-size: 1.2rem;
}

footer a:hover {
    text-decoration: none;
}

/* Admin */
.admin-img {
    width: 40px;
}

.admin-img-users {
    width: 40px;
    border-radius: 50%;
}

#myTable_paginate ul {
    margin: 40px 100px 0 0;
}

.align {
    padding-left: 3.6rem;
}

/* Vich */
.vich-image img {
    padding-top: 10px;
    width: 150px;
}

/* User Comments */
.course-comment {
    width: 100%;
    border-radius : 10%;
}