{% extends 'admin/base.html.twig' %}

{% block body %}
    <h2 class="my-4">Alerter un utilisateur</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Enregistrer le message</button>
    {{ form_end(form) }}
{% endblock %}