{% extends 'admin/base.html.twig' %}

{% block title %}Admin Comments{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Commentaires</h2>
    <table class="table table-hover" id="myTableComments"> <!-- id pour le DataTable -->
        <thead>
        <tr>
            <th>Cours</th>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Note</th>
            <th>Message</th>
            <th>Contacter</th>
            <th>Publier</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.course.name }}</td>
            <td>{{ comment.author.firstName }} {{ comment.author.lastName }}</td>
            <td>{{ comment.content }}</td>
            <td><div style="display: none">{{ comment.rating }}</div>{% include '././partials/rating.html.twig' with {'rating': comment.rating} %}</td>
            <td>{{ comment.warningMessage }}</td>
            <td>
                <a href="{{ path('admin_comment_message', {'id': comment.id}) }}" class="btn btn-{% if comment.warningMessage %}success" title="Modifier le{% else %}warning" title="Laisser un{% endif %} message"><i class="icofont-ui-edit"></i></a>
            </td>
            <td>
                <a href="{{ path('admin_comment_publish', {'id': comment.id}) }}" class="btn btn-outline-success" title="Publier"><i class="icofont-arrow-up"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
    </div>
    </div>
{% endblock %}