{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block body %}

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <!-- Banner -->
    <div class="banner">
    </div>
    <!-- End Banner -->

    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Remplissez le formulaire de contact</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="g-recaptcha" data-theme="light" data-sitekey="6LfyBR8aAAAAAG02Z-MWdYSuYYigHc9QFGF30vdW"></div>
                <br>
                <button type="submit" class="btn btn-outline-secondary">Envoyer le mail</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>
{% endblock %}
