{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-8 offset-2">
                <h2 class="my-4">Mon compte</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('img/avatar/') ~ app.user.image }}" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Prénom: {{ app.user.firstName }}</p>
                                <p class="card-text">Nom: {{ app.user.lastName }}</p>
                                <p class="card-text">Adresse e-mail: {{ app.user.email }}</p>
                                <p class="card-text">Date de création: {{ app.user.createdAt|date('d/m/Y') }} à {{ app.user.createdAt|date('H:i') }}</p>
                                <p class="card-text">Dernière modification: {{ app.user.updatedAt|date('d/m/Y') }} à {{ app.user.updatedAt|date('H:i') }}</p>
                                <p class="card-text">Inscription à la Newsletter: {% if app.user.newsletter %}Oui{% else %}Non{% endif %}</p>
                                <a href="{{ path('account_update') }}" class="btn btn-primary">Modifier mon compte</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
