{% extends 'base.html.twig' %}

{% block title %}Modification du compte{% endblock %}

{% block body %}

    <main class="container">
        <section class="row">
            <div class="col-md-6 offset-3">
                <h2 class="my-4">Modifier mon compte</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-secondary">Modifier mon compte</button>
                {{ form_end(form) }}
            </div>
        </section>
    </main>

{% endblock %}
