{% extends 'base.html.twig' %}

{% block title %}Vos commentaires{% endblock %}

{% block body %}

    <main class="container">
        <section>
            <h2 class="my-4">Mes commentaires</h2>
            {% if comments == null %}
                <h4>Vous n'avez commenté aucun cours.</h4>
            {% elseif app.user.warningMessages %}
                <h4 class="my-4"><span class="badge badge-primary">{{ app.user.warningMessages }}</span> {% if app.user.warningMessages > 1 %}commentaires nécéssitent {% else %} commentaire nécéssite {% endif %}votre attention</h4>
            {% endif %}

            {% for comment in comments %}
                <div class="media-border {% if comment.isDisabled %}comment-disabled{% else %}comment-enabled{% endif %}">
                    <div class="row">
                        <div class="col-md-2 offset-1">
                            <br>
                            <h3>{{ comment.course.name }}</h3>
                            <div class="my-auto">
                                <img class="course-comment" src="{{ asset('img/sections/') ~ comment.course.image }}" alt="{{comment.course.name}}">
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="col-md-{% if comment.warningMessage %}3{% else %}4{% endif %} my-auto">
                            <br>
                            <h6 class="text-muted">Ajouté le {{ comment.createdAt|date('d/m/Y') }}</h6>
                            {# Système de notation en étoiles #}
                            <span>
                                {# Inclusion du partial avec passage de paramètre #}
                                {% include 'partials/rating.html.twig' with {'rating': comment.rating} %}
                            </span>
                            <p>{{ comment.content }}</p>
                        </div>
                        <div class="col-md-2 text-center my-auto">
                            <br>
                            <a href="{{ path('course', {'slug': comment.course.slug}) }}"><button class="btn btn-primary">Accéder et<br>Modifier</button></a>
                            <br>
                            <br>
                            <a href="{{ path('delCommentUser', {'slug': comment.course.slug}) }}"><button class="btn btn-primary">Supprimer</button></a>
                            <br>
                            <br>
                        </div>
                        <div class="col-md-{% if comment.warningMessage %}3{% else %}2{% endif %} -offset-1 my-auto">
                            <br>
                            {% if comment.isDisabled %}
                                <p><button class="btn btn-warning">
                                        {% if comment.warningMessage %}
                                            <h5>Commentaire de l'admin :</h5>{{ comment.warningMessage }}
                                        {% else %}
                                            Commentaire mis attente de vérification par un administrateur
                                        {% endif %}
                                    </button></p>
                            {% else %}
                                <p><button class="btn btn-success">Commentaire publié</button></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if loop.index == app.user.warningMessages %}
                    {% if loop.revindex > 1 %}
                        <h4 class="my-4">Vos autres commentaires</h4>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </section>
    </main>

{% endblock %}
