{% extends 'base.html.twig' %}

{% block title %}Mes inscriptions{% endblock %}

{% block body %}

    {% set totalPrice = 0 %}
    {% for inscription in inscriptions %}
        {% set totalPrice = totalPrice + inscription.course.price %}
    {% endfor %}

    <main class="container">
        <section>
            <h2 class="my-4">Mes inscriptions</h2>
            {% if inscriptions == null %}
                <h4>Vous n'êtes inscrit(e) à aucun cours.</h4>
            {% else %}
                <h4 class="my-4">Vous êtes inscrits à {{ inscriptions|length }} cours pour un total de {{ totalPrice }}€</h4>
                {% for inscription in inscriptions %}
                    <div class="media-border">
                        <div class="row">
                            <div class="col-md-2">
                                <img class="course-comment" src="{{ asset('img/sections/') ~ inscription.course.image }}" alt="{{inscription.course.name}}">
                            </div>
                            <div class="col-md-3">
                                <h5>{{ inscription.course.name }}</h5>
                                <h6 class="text-muted">Inscrit le {{ inscription.createdAt|date('d/m/Y') }}</h6>
                                <h6>Prix: {{ inscription.course.price }}€</h6>
                            </div>
                            <div class="col-md-5">
                                <p>{{ inscription.course.smallDescription }}</p>
                            </div>
                            <div class="col-md-2 text-center">
                                <a href="{{ path('course', {'slug': inscription.course.slug}) }}"><button class="btn btn-primary">Accéder au cours</button></a>
                                <br>
                                <br>
                                <a href="{{ path('delInscriptionUser', {'slug': inscription.course.slug}) }}"><button class="btn btn-primary">Se désinscrire</button></a>
                                <br>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </section>
    </main>

{% endblock %}
